# Dependencies for the project
unsloth
bitsandbytes
accelerate
xformers==0.0.29.post3
peft
trl==0.15.2
torch
triton
cut_cross_entropy
unsloth_zoo
sentencepiece
protobuf
datasets
huggingface_hub
hf_transfer
Pillow
python-dotenv
wandb
pyyaml
tqdm

# Dependencies for evaluation
nltk>=3.6.0
rouge-score>=0.1.2
scikit-learn>=1.0.0
regex>=2022.0.0
transformers>=4.20.0

# Dependencies for evaluation (optional)
# bert-score>=0.3.11

# Dataviz
matplotlib

# Utility for data processing
pandas